:root {
    --primary-color: #2C3E50;
    --secondary-color: #1ABC9C;
    --tertiary-color: #1A252F;

    font-family: 'Montserrat', sans-serif;

}

html {
        scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
}

header {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 999999;

}

.logo {
    margin-left: 16%;
    color: white;
    font-weight: 700;
    font-size: 21px;
    cursor: pointer;
}

.navbar {
    margin-right: 16%;

}

.navbar>ul {
    list-style-type: none;
    display: flex;
}

.navbar>ul li {
    color: white;
    font-weight: 700;
    font-size: 12px;
}

li>a {

    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
    padding: 13px;

}

li>a:hover {
    color: var(--secondary-color);
}

li>a:active {
    background-color: var(--secondary-color);
    padding: 13px;
    color: white;
    border-radius: 5px;
}

#startBootstrap {
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 100px 0;
    padding-top: 130px;
}

.star-img {
    height: 190px;
    padding: 25px;

}

#startBootstrap>h1 {
    font-weight: 700;
    font-size: 48px;
    color: white;

}

.star-title {
    font-weight: 700;
    font-size: 35px;
    color: var(--primary-color);
    padding: 5px;
}

.star-title-secondary {
    font-weight: 700;
    font-size: 35px;
    color: white;
    padding: 8px;
}

.content-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-header>p {
    font-family: 'Lato', sans-serif;
    padding: 15px;
    font-size: 18px;
    color: white;
    font-weight: 400;

}



.header-minus {
    width: 80px;
    border: 2px solid white;
    border-radius: 5px;
    margin: 20px 10px;
}

.star {

    color: var(--primary-color);
    font-size: 25px;
    display: flex;
    align-items: center;
}

.star-secondary {

    color: white;
    font-size: 25px;
    display: flex;
    align-items: center;
    padding: 10px;
}



.minus {
    width: 80px;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    margin: 15px;
}

.minus-secondary {
    width: 80px;
    border: 2px solid white;
    border-radius: 5px;
    margin: 15px;
}



#portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px;

}

.portfolio-content {
    padding: 25px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 40px 150px;
    cursor: pointer;
}

.portfolio-grid-item {
    white-space: nowrap;
    height: 220px;
    border-radius: 6px;
}

.image-container {
    position: relative;
    display: inline-block;

}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(26, 188, 156, 0.9);
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.image-container:hover .overlay {
    opacity: 1;
}

.plus-symbol {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 60px;
}

#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    height: 360px;
    color: white;
    padding: 15px;
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.about-content .content {

    display: flex;
    font-size: 13px;
}

.content>p {

    padding: 10px;
    line-height: 22px;
    font-weight: 300;
    font-size: 15px;
    margin: 12px;
}

.about-content button {
    font-family: 'Lato', sans-serif;

    width: auto;
    padding: 15px 20px;
    font-size: 16px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: var(--secondary-color);
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease;

}

.about-content button>i {
    margin-right: 5px;

}
.about-content button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}
#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}

.contact-content form {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 250px;
}

.contact-content form>input,
textarea {
    padding: 15px;
    margin: 15px;
    font-size: 18px;
    border: none;
    border-bottom: 1px solid #CED4DA;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    outline: none;
}

.form-button {
    background-color: #69D3BE;
    color: white;
    width: 70px;
    border-radius: 5px;

}

.footer-article {
    margin-top: 250px;
    color: white;
    background-color: var(--primary-color);

}

.footer-first-article {
    display: flex;
    justify-content: space-around;
    height: 200px;
    font-size: large;
}

.footer-second-article {
    background-color: var(--tertiary-color);
    padding: 22px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.footer-second-article>p {
    font-family: 'Lato', sans-serif;
    font-size: 11px;
    font-weight: 400;
}

.footer-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    font-size: 15px;
    text-align: center;
}
.footer-section>p>a{
    color: var(--secondary-color);
}
.footer-section>p>a:hover{
    color: #15967d;
}
.social-web {
    display: flex;
    justify-content: space-around;


}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 9999px;
    padding: 5px;
    font-size: 15px;
    margin: 5px;
    height: 25px;
    width: 25px;
    cursor: pointer;
}

.circle:hover {
    background-color: white;
    color: var(--primary-color);
}